<robot name="box02">
  <link name="BOX02">
    <inertial>
      <origin xyz="0.25 0.0 0.0" />
      <mass value="1.0" />
      <inertia ixx="0.1667" ixy="0.0" ixz="0.0" iyy="0.1667" iyz="0.0" izz="0.1667" />
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
      <geometry>
        <box size="1.0 1.0 1.0" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <box size="1.0 1.0 1.0" />
      </geometry>
    </collision>
  </link>

  <gazebo reference="BOX02">
    <selfCollide>false</selfCollide>
    <sensor type="contact" name="BOX02_contact_sensor">
      <always_on>true</always_on>
      <update_rate>100.0</update_rate>
      <contact>
        <collision>BOX02_collision</collision>
      </contact>
      <plugin name="BOX02_bumper" filename="libgazebo_ros_bumper.so">
        <bumperTopicName>BOX02_contact_sensor_state</bumperTopicName>
        <frameName>BOX02</frameName>
      </plugin>
    </sensor>
    <material>Gazebo/Blue</material>
  </gazebo>
</robot>

