<!--
  usage: roslaunch choreonoid_ros test-gzros-contacts-state.launch identity:="<any name>" urdf_file:="<urdf model file>"
-->
<launch>
  <arg name="identity" />
  <arg name="urdf_file" />
  <arg name="model_xpos" default="0.0"  />
  <arg name="model_ypos" default="0.0"  />
  <arg name="model_zpos" default="20.0" />

  <param name="use_sim_time" value="true" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="gui" default="true"/>
    <arg name="paused" default="true"/>
  </include>

  <include file="$(find choreonoid_ros)/launch/test-gzros-spawn-model.launch">
    <arg name="node_name"  value="$(arg identity)" />
    <arg name="model_file" value="$(arg urdf_file)" />
    <arg name="spawn_xpos" value="$(arg model_xpos)" />
    <arg name="spawn_ypos" value="$(arg model_ypos)" />
    <arg name="spawn_zpos" value="$(arg model_zpos)" />
  </include>
</launch>

